/*RESET*/
*{
    margin:0;
    padding:0;
    text-decoration:none;
    text-align:none;
}
/*RESET*/


/*BODY CSS*/
body{
    background-color:rgb(0, 0, 0);
}
/*BODY CSS*/


header{
    color:white;
    background-color:rgb(255, 255, 255);
    padding:10px;
}

/*PAREI NO LOGOMARCA*/
.LogoThorrent{
    position:relative;
    width:150px;
    left:100px;
}
/*PAREI NO LOGOMARCA*/